<h1>Listing certificate_of_conformity_responses</h1>

<table>
  <tr>
    <th>User</th>
    <th>Certificate of conformity</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @certificate_of_conformity_responses.each do |certificate_of_conformity_response| %>
  <tr>
    <td><%= certificate_of_conformity_response.user_name %></td>
    <td><%= certificate_of_conformity_response.certificate_of_conformity_id %></td>
    <td><%= link_to 'Show', certificate_of_conformity_response %></td>
    <td><%= link_to 'Edit', edit_certificate_of_conformity_response_path(certificate_of_conformity_response) %></td>
    <td><%= link_to 'Destroy', certificate_of_conformity_response, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Certificate of conformity response', new_certificate_of_conformity_response_path %>
