<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @certificate_of_conformity_response.user_name %>
</p>

<p>
  <b>Certificate of conformity:</b>
  <%= @certificate_of_conformity_response.certificate_of_conformity_id %>
</p>


<%= link_to 'Edit', edit_certificate_of_conformity_response_path(@certificate_of_conformity_response) %> |
<%= link_to 'Back', certificate_of_conformity_responses_path %>
